Django==3.2.*; platform.machine == 'armv7l'
Django>=4; platform.machine != 'armv7l'
idna==2.6
Jinja2>=3.0
python-musicpd>=0.7.0
pytz==2018.3
PySerial>=3.5
psycopg2>=2.9.2; platform.machine == 'armv7l'
mysqlclient>=2.1.0; platform.machine != 'armv7l'
numpy>=1.22.3
scipy>=1.8.0