<html>
	<head>
		<title>LED-Control</title>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/inheritance.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/es.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/led.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/jscolor/jscolor.js"></script>
		<style type="text/css">
			@import url('{{ STATIC_URL }}css/led.css');
			@import url('{{ STATIC_URL }}css/layout.css');
			@import url('{{ STATIC_URL }}css/spectrum.css');
		</style>
	</head>
	<body>
		<form method="post" action="{{ url_reverse('update_table', kwargs={'tableid':table.pk}) }}" class="full_table_form"></form>
	{% for led in leds %}
		{{ led }}
		{% if loop.index % max_cols == 0 %}
		<br/>
		{% endif %}
	{% endfor %}

	<br/>
	<form id="js_color_values">
		<p>hue max:</p>
		<input type="range" min="0" max="255" value="50" name="hue_max">
		<p>hue min:</p>
		<input type="range" min="0" max="255" value="50" name="hue_min">
		<p>saturation max:</p>
		<input type="range" min="0" max="255" value="50" name="saturation_max">
		<p>saturation min:</p>
		<input type="range" min="0" max="255" value="50" name="saturation_min">
		<p>value max:</p>
		<input type="range" min="0" max="255" value="50" name="value_max">
		<p>value min:</p>
		<input type="range" min="0" max="255" value="50" name="value_min">
	</form>
	</body>
</html>
