<html>
	<head>
		<title>LED-Control</title>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/inheritance.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/es.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/led.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/jscolor/jscolor.js"></script>
		<style type="text/css">
			@import url('{{ STATIC_URL }}css/led.css');
			@import url('{{ STATIC_URL }}css/layout.css');
			@import url('{{ STATIC_URL }}css/spectrum.css');
		</style>
	</head>
	<body><!--
	{% for led in leds %}
		--!>{{ led }}<!--
		{% if loop.index % max_cols == 0 %}
		--!><br/><!--
		{% endif %}
	{% endfor %}--!>
	</body>
</html>
